.bg-danger{
    background-color: #f85a3f!important;
}
#nav .btn-danger{
    color: #f85a3f!important;
    background-color: white;
}
#nav .btn-danger:hover{
    color: rgb(61, 55, 55)!important;
    background-color: white!important;
}
.btn-danger{
    color:white!important;
    background-color: #f85a3f;
}
.btn-danger:hover{
    color: #f85a3f!important;
    background-color: white!important;
}
.bg-light .row img{
    width: 500px;
    height: 500px;
}
#about .border{
    width:100px;
    height:5px;
    background: black;
    margin:10px auto;
}
.carousel-indicators li{
    color: #f85a3f!important;
}
#about .style{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f85a3f;
    position: relative;
    margin: auto;
}
#about .style i{
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#testimonials .card-content i{
    font-size: 30px;
}
#testimonials .card-content{
    font-size: 20px;
}
#testimonials .border{
    width:100px;
    height:5px;
    background: black;
    margin:10px auto;
}
#news .border{
    width:100px;
    height:5px;
    background: black;
    margin:10px auto;
}
#news .content{
    position: relative;
    margin: 30px;
    height: 400px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
#news .content .blog1{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
#news .content .blog2{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #847e7e;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
footer .bg-dark{
    color: rgba(255, 255, 255,0.9)!important;
}
footer .row .text-warning{
    color: #f85a3f!important;
}